<% if type == :edit %>
  <% action_url = cat_url(cat) %>
<% else %>
  <% action_url = cats_url %>
<% end %>
<form action = "<%= action_url %>" method = "post">

  <% if cat.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for ="name"> Name:
    <input type = "text" name="cat[name]" value="<%= @cat.name %>" >
  </label>
  <br>
  <label for ="sex"> Sex:
    <input type = "radio" name="cat[sex]" value="M" <%= @cat.sex == "M" ? "checked" : "" %>>M
    <input type = "radio" name="cat[sex]" value="F" <%= @cat.sex == "F" ? "checked" : "" %>>F
  </label>
  <br>

  <label for ="color"> Color:
    <select name="cat[color]" value="<%= @cat.color%>" >
      <% if !cat.persisted? %>
        <option disabled selected>-- Select a color --</option>
      <% end %>
      <% Cat::COLORS.each do |color| %>
        <option value="<%= color%>" <%= @cat.color == color ? "selected" : "" %> > <%= color%> </option> 
      <% end %>
    </select>
  </label>
  <br>
  
  <label for ="birth_date"> Birth Date:
    <input type = "date" name="cat[birth_date]" value="<%= @cat.birth_date %>" >
  </label>
  <br>

  <label for ="description"> 
    Description: <br>
    <textarea rows="10" cols= "20" name="cat[description]" > <%= @cat.description %> </textarea>
  </label>
  <br>

  <input type="submit" value="<%= cat.persisted? ? "Edit" : "Create" %> Cat">
</form>