<ul>
  <% @cat.sort.each do |cat| %>
    <li>
      <%= cat.name %> <br>
      <%= cat.age %> <br>
      <%= cat.color %> <br>
      <%= cat.sex %> <br>
      <%= cat.description %> <br>
      <a href="<%= cat_url(cat) %>" > Show me this cat!</a>
    </li>
    <br>
  <% end %>

</ul>